@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveRight {
  0%,
  100% {
    transform: translateX(-40px);
  }

  50% {
    transform: translateX(80px);
  }
}
