@import url('./base.css');

@keyframes fogFade {
  0%,
  100% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.8;
  }
}

.fog-layer {
  animation:
    fogFade 4s ease-in-out infinite,
    moveRight 5s ease-in-out infinite;
}
