@keyframes iceRainFall {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateY(250px) translateX(-8px);
    opacity: 0.3;
  }
}

.ice-rain {
  animation: iceRainFall 2s ease-in infinite;
}

.ice-rain:nth-of-type(1) {
  animation-delay: 0s;
}

.ice-rain:nth-of-type(2) {
  animation-delay: 0.4s;
}

.ice-rain:nth-of-type(3) {
  animation-delay: 0.8s;
}

.ice-rain:nth-of-type(4) {
  animation-delay: 1.2s;
}
