@import url('./ash.css');
@import url('./breeze.css');
@import url('./cloudy.css');
@import url('./cold.css');
@import url('./dust.css');
@import url('./fog.css');
@import url('./heavy-rain.css');
@import url('./heavy-snow.css');
@import url('./home.css');
@import url('./ice-rain.css');
@import url('./light-rain.css');
@import url('./light-snow.css');
@import url('./rain.css');
@import url('./showers.css');
@import url('./strong-breeze.css');
@import url('./thunderstorm.css');
@import url('./typhoon.css');
@import url('./sun.css');
