@import url('./base.css');
@keyframes rainDropMedium {
  0% {
    transform: translateY(0) scaleY(1);
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: translateY(25px) scaleY(1.3);
    opacity: 0;
  }
}

.rain-drop {
  animation: rainDropMedium 2s ease-in infinite;
}

.rain-drop:nth-of-type(1) {
  animation-delay: 0s;
}

.rain-drop:nth-of-type(2) {
  animation-delay: 0.2s;
}

.rain-drop:nth-of-type(3) {
  animation-delay: 0.4s;
}

.rain-drop:nth-of-type(4) {
  animation-delay: 0.6s;
}

.rain-cloud {
  animation: moveRight 3s ease-in-out infinite;
}
