@keyframes showerDrop {
  0% {
    transform: translateY(0) scaleY(1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(25px) scaleY(1.3);
    opacity: 0;
  }
}

.shower-drop {
  animation: showerDrop 4s ease-in infinite;
}

.shower-drop:nth-of-type(1) {
  animation-delay: 0s;
}

.shower-drop:nth-of-type(2) {
  animation-delay: 2s;
}
