@import url('@/assets/styles/svg-animation/index.css');

@font-face {
  font-family: 'Consolas';
  src: url('@/assets/fonts/consolas.ttf');
}

@font-face {
  font-family: 'LXGW';
  src: url('@/assets/fonts/lxgwscreen.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Consolas', 'LXGW';
  &::-webkit-scrollbar {
    display: none;
  }
}

html,
body {
  width: 100vw;
}

.cursor-pointer {
  cursor: pointer;
}
